<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/styles.763f1700.css" />
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <title>Configuration</title>
    <style>
      .conf_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 550px;
      }

      textarea {
        resize: none;
      }
    </style>
  </head>
  <body>
    <nav class="index_nav navbar navbar-default">
      <div class="container-fluid limited">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">FilingFindings</a> <span id="beta">Beta</span>
        </div>
      </div>
    </nav>

    <main class="config container">
      <section class="conf_grid">

        <div>
          <div class="form-group">
            <label for="text">Rule logic</label>
            <textarea id="logic" rows="5" type="text" class="form-control"></textarea>
          </div>
  
          <div class="form-group">
            <label for="text">Rule text</label>
            <textarea class="form-control" id="text" rows="5"></textarea>
          </div>
  
          <!-- list of sections -->
          <div>
            <div class="checkbox checkbox-primary">
              <input class="display_control" id="positive" type="checkbox" />
              <label for="positive">Positive</label>
            </div>
  
            <div class="checkbox checkbox-primary">
              <input class="display_control" id="negative" type="checkbox" />
              <label for="negative">Negative</label>
            </div>
  
            <div class="checkbox checkbox-primary">
              <input class="display_control" id="neutral" type="checkbox" />
              <label for="neutral">Neutral</label>
            </div>
  
            <div class="checkbox checkbox-primary">
              <input class="display_control" id="important" type="checkbox" />
              <label for="important">Important</label>
            </div>
  
            <div class="checkbox checkbox-primary">
              <input class="display_control" id="unusualactivity" type="checkbox"/>
              <label for="unusualactivity">Unusual Activity</label>
            </div>
  
            <div class="checkbox checkbox-primary">
              <input class="display_control" id="significantchanges" type="checkbox"/>
              <label for="significantchanges">Significant Changes</label>
            </div>
  
            <div class="checkbox checkbox-primary">
              <input class="display_control" id="companystructure" type="checkbox"/>
              <label for="companystructure">Company Structure</label>
            </div>
  
            <div class="checkbox checkbox-primary">
              <input class="display_control" id="trends" type="checkbox" />
              <label for="trends">Trends</label>
            </div>
          </div>
  
          <button id="add" class="btn btn-lg btn-default" type="button">
            Add Rule
          </button>
        </div>


        <div style="overflow: auto;padding: 20px 40px;">
          <p>researchDevelopment</p>
          <p>effectOfAccountingCharges</p>
          <p>incomeBeforeTax</p>
          <p>minorityInterest</p>
          <p>netIncome</p>
          <p>sellingGeneralAdministrative</p>
          <p>grossProfit</p>
          <p>ebit</p>
          <p>operatingIncome</p>
          <p>otherOperatingExpenses</p>
          <p>interestExpense</p>
          <p>extraordinaryItems</p>
          <p>nonRecurring</p>
          <p>otherItems</p>
          <p>incomeTaxExpense</p>
          <p>totalRevenue</p>
          <p>totalOperatingExpenses</p>
          <p>costOfRevenue</p>
          <p>totalOtherIncomeExpenseNet</p>
          <p>discontinuedOperations</p>
          <p>netIncomeFromContinuingOps</p>
          <p>netIncomeApplicableToCommonShares</p>
          <p>intangibleAssets</p>
          <p>totalLiab</p>
          <p>totalStockholderEquity</p>
          <p>deferredLongTermLiab</p>
          <p>otherCurrentLiab</p>
          <p>totalAssets</p>
          <p>commonStock</p>
          <p>otherCurrentAssets</p>
          <p>retainedEarnings</p>
          <p>otherLiab</p>
          <p>goodWill</p>
          <p>otherAssets</p>
          <p>cash</p>
          <p>totalCurrentLiabilities</p>
          <p>shortLongTermDebt</p>
          <p>otherStockholderEquity</p>
          <p>propertyPlantEquipment</p>
          <p>totalCurrentAssets</p>
          <p>longTermInvestments</p>
          <p>netTangibleAssets</p>
          <p>shortTermInvestments</p>
          <p>netReceivables</p>
          <p>longTermDebt</p>
          <p>inventory</p>
          <p>accountsPayable</p>
          <p>totalPermanentEquity</p>
          <p>noncontrollingInterestInConsolidatedEntity</p>
          <p>temporaryEquityRedeemableNoncontrollingInterests</p>
          <p>accumulatedOtherComprehensiveIncome</p>
          <p>additionalPaidInCapital</p>
          <p>commonStockTotalEquity</p>
          <p>preferredStockTotalEquity</p>
          <p>retainedEarningsTotalEquity</p>
          <p>treasuryStock</p>
          <p>netBorrowings</p>
          <p>totalCashFromOperatingActivities</p>
          <p>investments</p>
          <p>changeToLiabilities</p>
          <p>totalCashflowsFromInvestingActivities</p>
          <p>totalCashFromFinancingActivities</p>
          <p>changeToOperatingActivities</p>
          <p>changeInCash</p>
          <p>depreciation</p>
          <p>otherCashflowsFromInvestingActivities</p>
          <p>dividendsPaid</p>
          <p>changeToInventory</p>
          <p>changeToAccountReceivables</p>
          <p>salePurchaseOfStock</p>
          <p>otherCashflowsFromFinancingActivities</p>
          <p>changeToNetincome</p>
          <p>capitalExpenditures</p>
        </div>
        
      </section>




      <br />
      <hr />
      <br />

      <section style="background: #fff;padding:20px;">
        <h1 class="text-center text-primary" style="margin-bottom: 30px;">All Rules</h1>
        <div id="rules"></div>
      </section>
    </main>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/config.js"></script>
  </body>
</html>
